<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Journal</title>
</head>
<body>
	<form action="guionista" method="post">
	<label>Nombre</label>
	<input type="text" name="nombre">
	
	<label>Direccion</label>
	<input type="text" name="direccion">
	
	<label>Email</label>
	<input type="text" name="email">
	
	<label>Fecha</label>
	<input type="text" name="date">
	
	<button type="submit">Enviar</button>
	</form>
</body>
</html>