<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Journal</title>
</head>
<body>
<ul>
  <li><a href="/guionista">Registro guionista</a></li>
  <li><a href="/actor">Registar actor</a></li>
  <li><a href="/guion">Registar guion</a></li>
  <li><a href="/guion/list">Listar guiones</a></li>
  <li><a href="/actor/list">Listar actores</a></li>
  <li><a href="/guion/listProduction">Guiones para produccion</a></li>
  <li><a href="/tableactor">Tabla actores</a></li>
</ul>
	<form action="guionista" method="post">
	<label>Nombre</label>
	<input type="text" name="nombre">
	
	<label>Direccion</label>
	<input type="text" name="direccion">
	
	<label>Email</label>
	<input type="text" name="email">
	
	<label>Fecha</label>
	<input type="date" name="date">
	
	<button type="submit">Enviar</button>
	</form>
</body>
</html>