<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<ul>
  <li><a href="/guionista">Registro guionista</a></li>
  <li><a href="/actor">Registar actor</a></li>
  <li><a href="/guion">Registar guion</a></li>
  <li><a href="/guion/list">Listar guiones</a></li>
  <li><a href="/actor/list">Listar actores</a></li>
  <li><a href="/guion/listProduction">Guiones para produccion</a></li>
  <li><a href="/tableactor">Tabla actores</a></li>
</ul>
</body>
</html>